*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: grid;
    grid-template-columns: 50px repeat(10, 200px);
    
}

.label {
    background-color: darkgray;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;;
}